let mapleader = " "

source ~/.vimrc

nnoremap gh :action ShowErrorDescription<CR>
map gc :action CommentByLineComment<CR>
nnoremap <C-h> :action NextSplitter<CR>
noremap <C-l> :action NextSplitter<CR>
nnoremap <Leader><Leader> <C-6>
nnoremap <Leader>la :action ShowIntentionActions<CR>
" nnoremap <leader>e :action ActivateProjectToolWindow<CR>
nnoremap <leader>lr :action RenameElement<CR>
map <leader>e :NERDTreeToggle<CR>
map <leader>o :NERDTreeClose<CR>


" set clipboard+=unnamed
" set scrolloff=10
" set linenumber
" set showmode
" set showcmd
" set visualbell 
" set ignorecase
" set smartcase
" set incsearch
" set notimeout
" set inccommand

vnoremap < <gv
vnoremap > >gv

:set relativenumber
:set number 

" Plugins
set surround
set NERDTree
set highlightedyank
" set completeopt = "menuone,noselect"
" set wildmode = "longest,list,full"
" set breakindent


set which-key
let g:WhichKey_FontSize = 16
let g:WhichKey_CommandColor = "#41ead4"
let g:WhichKey_PrefixColor = "#f335b2"
let g:WhichKey_SortOrder = "by_key_prefix_first"


