[user]
	email = josh@joshkoz.com
	name = "Josh Koz"
	signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDcY3B808jUEjX7YtYTKZ6CMvGBB3KYu7NBLQEpR/5o8h+t/3kxO70T1Rj05XSP0MDWq0D+mnvXTAOp7R8rDF0JqvVahA6kveK93lltKUE9ETbU3C3Y4GpfTwt1Ig0enG4HFHsOLsplt89sSttLhxopsYTvTQaxE2tZqUCxRDP/6V11CXuA2ObglIuw4S/3WfnWNI4zxTfPFS4xnzc/DTs57/w22JfSkF0cxCwT2LXvLd4y4qu1Sm92LQIxJknFv8jl2qEhH5ffXWmzWkrhia18BGuJUUvk6T5li8w1NODYnWoSVkww94PHjUk+obx7hB5jE+52+hudsiJCVnIYHOd1
[commit]
	template = ~/.git-templates/git-commit-template
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/opt/1Password/op-ssh-sign"
	allowedSignersFile = ~/.ssh/allowed_signers
[init]
	defaultBranch = master
[core]
	autocrlf = input
	pager = delta 
	editor = nvim
[push]
	default = current
	autoSetupRemote = true
[pull]
	ff = only
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	bl = blame -w -C -C -C
	fs = "!git switch $(git branch | fzf)" # Fuzzy Switch branches
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = false 
[merge]
	conflictStyle = zdiff3
	tool = nvim
[diff]
    colorMoved = default
	algorithm = histogram
[maintenance]
	repo = /home/joshua/work/core-api
	repo = /home/joshua/projects/dotfiles
[rerere]
	enabled = true
[tag]
	gpgsign = true

[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
[branch]
	sort = -committerdate
[column]
	ui = auto
[fetch]
	prune = true
