[Unit]
Description=Cliphist - Image clipboard manager
PartOf=wayland-session.target
After=wayland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --type image --watch cliphist store
Restart=on-failure

[Install]
WantedBy=wayland-session.target
