[Unit]
Description=Cliphist - Text clipboard manager
PartOf=wayland-session.target
After=wayland-session.target

[Service]
Type=simple
# We use wl-paste to watch the clipboard and pipe it into cliphist
ExecStart=/usr/bin/wl-paste --type text --watch cliphist store
Restart=on-failure

[Install]
WantedBy=wayland-session.target
