[Unit]
Description=Dunst notification daemon
Documentation=https://wiki.archlinux.org/title/Dunst
PartOf=wayland-session.target
After=wayland-compositor.service

[Service]
Type=simple
# We specify your custom config path here
ExecStart=/usr/bin/dunst -config %h/.config/dunst/dunstrc
Restart=on-failure

[Install]
WantedBy=wayland-session.target
