[Unit]
Description=Hyprland Wayland compositor session
Documentation=man:systemd.special(7)
Requires=hyprland.service
BindsTo=hyprland.service
After=hyprland.service
Before=wayland-session.target
Wants=wayland-session.target
Conflicts=wayland-session-shutdown.target
Before=wayland-session-shutdown.target
