[Unit]
Description=Hyprland wallpaper daemon
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hyprpaper/
PartOf=hyprland.service
After=hyprland.service

[Service]
Type=simple
ExecStart=/usr/bin/hyprpaper
Restart=on-failure

[Install]
WantedBy=hyprland.service
