[Unit]
Description=Waybar status bar
# Only start Waybar AFTER the compositor has exported the Wayland socket
PartOf=wayland-session.target
After=wayland-compositor.service

[Service]
Type=simple
ExecStart=/usr/bin/waybar
Restart=always

[Install]
# This makes it start automatically when the session target starts
WantedBy=wayland-session.target
