[Unit]
Description=XDG Autostart for Wayland compositor session
Documentation=man:systemd.special(7)
BindsTo=wayland-session.target
Wants=xdg-desktop-autostart.target
Conflicts=wayland-session-shutdown.target
Before=wayland-session-shutdown.target
StopWhenUnneeded=yes
After=wayland-compositor.service
