[Unit]
Description=Wayland compositor (wrapper)
Documentation=man:systemd.service(5)
Requires=hyprland.service
After=hyprland.service
BindsTo=hyprland.service
PropagatesStopTo=hyprland.service

[Service]
Type=oneshot
ExecStart=/usr/bin/true
RemainAfterExit=yes
