@import "mocha.css";

* {
  font-family: NotoSans Nerd Font;
  font-size: 11px;
  min-height: 0;
}

#waybar {
  background-color: @base;
  /* background-color: alpha(@mantle, 0); */
  color: @text;
  margin: 0px 0px;
}

#workspaces {
  border-radius: 1rem;
  background-color: @base;
  margin-left: 0.5rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @peach;
  font-weight: bold;
  border-radius: 1rem;
}

#workspaces button:hover {
  background-color: @surface0;
  border-color: @surface0;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @base;
  padding: 0rem 1rem;
  margin: 0px 0px;
}

#clock {
  color: @lavender;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#clock:hover {
  background-color: @surface0;
  border-color: @surface0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio:hover {
  background-color: @surface0;
  border-color: @surface0;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-lock:hover {
  background-color: @surface0;
  border-color: @surface0;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#custom-music.Paused {
  color: @overlay2; /* A muted grey from the Mocha palette */
  font-style: italic;
}

/* Optional: Make the icon color stay the same or change separately */
#custom-music.Playing {
  color: @mauve; /* Keeps it mauve when playing */
}
