@import "mocha.css";

* {
  font-family: FantasqueSansM Nerd Font;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @peach;
  font-weight: bold;
  border-radius: 1rem;
}

#workspaces button:hover {
  background-color: @surface1;
  border-color: @surface1;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#clock:hover {
  background-color: @surface1;
  border-color: @surface1;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#pulseaudio:hover {
  background-color: @surface1;
  border-color: @surface1;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-lock:hover {
  background-color: @surface1;
  border-color: @surface1;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#custom-music.Paused {
  color: @overlay2; /* A muted grey from the Mocha palette */
  font-style: italic;
}

/* Optional: Make the icon color stay the same or change separately */
#custom-music.Playing {
  color: @mauve; /* Keeps it mauve when playing */
}
